@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    height: 5rem;
    width: 5rem;

    margin: auto;

    animation: spin 2s infinite linear;
}

.filter-green{
    filter: invert(100%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}